@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Questrial&family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #023c2e;
    --secondary: #005742;
    --success: #d2fbd0;
    --error: #fbd0da;
    --warning: #fbf5d0;
}

body {
    text-rendering: optimizeSpeed;
}

html * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-scrollbar: none;
    font-family: 'Montserrat', serif !important;
    font-weight: 500;
}

html *::-webkit-scrollbar {
    display: none;
    border-radius: 0;
    width: 2px;
    height: 30px;
}

.title {
    font-family: 'Paytone One', serif !important;
}

.cpmount {
    animation: opacity 0.8s ease;
}

.opacity {
    cursor: pointer;
}

.opacity:hover {
    opacity: 0.6;
    transition: all ease 0.5s;
}

input:focus {
    outline: none;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Slick */
.slick-slide div {
    border-radius: 30px;
    overflow: hidden;
}

.slick-dots {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;
    top: 15px !important;
}

.slick-dots li button::before {
    /* content: '—' !important; */
    font-size: 0px !important;
    font-weight: bold;
    display: block !important;
    width: 40px !important;
    height: 4.6px !important;
    color: rgba(0, 0, 0, 0.4) !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.slick-dots li.slick-active button::before {
    background-color: var(--primary) !important;
}

.slick-dots li button {
    margin-right: 15px !important;
}

/* MUI */
.css-iv0hxq-MuiInputBase-root-MuiOutlinedInput-root,
.css-rnnkt-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.css-1fvynlb-MuiFormControl-root,
.css-1seveu5-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 53.1333px !important;
    font-size: 14px !important;
}

.css-1kdxnil-MuiFormControl-root {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
    font-size: 14px !important;
    font-weight: 500;
}

.css-1tnief3-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    font-weight: 500 !important;
}

.css-10hyoxo-MuiStack-root span {
    font-size: 12.7px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.5);
}

progress {
    /* accent-color: coral !important; */
    border-radius: 10px;
    height: 6px;
    width: 100%;
}

progress::-moz-progress-bar {
    background-color: var(--primary);
}

.css-r47a1p-MuiFormControl-root,
.css-qwo8uq-MuiFormControl-root {
    margin: 0px !important;
}
